@model dynamic

@{
    ViewBag.Title = "IndexNotStrongTyped";
}

<h2>IndexNotStrongTyped</h2>

<p>
    <ul>
        @foreach (var blog in Model)
        {
            <li>
                <a href="@blog.URL">@blog.Name</a>
            </li>
        }
    </ul>
</p>